In [1]:
import pandas as pd

# Series

In [2]:
data = [1, 2, 3, 4, 5]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
index = ['Linha' + str(i) for i in range(5)]

In [8]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [9]:
s =pd.Series(data, index = index)

In [10]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [11]:
data = {'Linha' + str(i): 1 + i for i in range(5)}

In [12]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [13]:
s = pd.Series(data)

In [14]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

# DataFrame

In [15]:
data = [[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]]

In [16]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [17]:
df1 = pd.DataFrame(data)

In [18]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [19]:
index = ['Linha' + str(i) for i in range(3)]

In [20]:
index

['Linha0', 'Linha1', 'Linha2']

In [21]:
df1 = pd.DataFrame(data, index = index)

In [22]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [24]:
coluna = ['coluna' + str(i) for i in range(3)]
coluna

['coluna0', 'coluna1', 'coluna2']

In [25]:
df1 = pd.DataFrame(data, index = index, columns = coluna)

In [27]:
df1

        coluna0  coluna1  coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9