# Criando e Manipulando DF com PySpark

In [1]:
import findspark #Iniciando o PySpark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Trabalhando com Pandas

In [2]:
import pandas as pd

Criando um DF de exemplo

In [3]:
pandas_df = pd.DataFrame({
    'matricula': [1, 2, 3],
    'funcionario': ['Carlos', 'Pedro', 'Maria'],
    'valor_venda': [1200, 3212, 4000]
})
df = spark.createDataFrame(pandas_df)
df

DataFrame[matricula: bigint, funcionario: string, valor_venda: bigint]

Visualizando os dados do DF

In [4]:
df.show()

+---------+-----------+-----------+
|matricula|funcionario|valor_venda|
+---------+-----------+-----------+
|        1|     Carlos|       1200|
|        2|      Pedro|       3212|
|        3|      Maria|       4000|
+---------+-----------+-----------+

Visualizando o schema

In [6]:
df.printSchema()

root
 |-- matricula: long (nullable = true)
 |-- funcionario: string (nullable = true)
 |-- valor_venda: long (nullable = true)

Visualizar o número de linhas do DF - Horizontal

In [7]:
df.show(2) # 2 número de linhas que deseja ver

+---------+-----------+-----------+
|matricula|funcionario|valor_venda|
+---------+-----------+-----------+
|        1|     Carlos|       1200|
|        2|      Pedro|       3212|
+---------+-----------+-----------+
only showing top 2 rows

Visualizar o número de linhas do DF - Vertical

In [8]:
df.show(2, vertical = True)

-RECORD 0-------------
 matricula   | 1
 funcionario | Carlos
 valor_venda | 1200
-RECORD 1-------------
 matricula   | 2
 funcionario | Pedro
 valor_venda | 3212
only showing top 2 rows

Visualizando o Título das Colunas

In [9]:
df.columns

['matricula', 'funcionario', 'valor_venda']