In [1]:
#Iniciando findspark
import findspark 
findspark.init()

In [2]:
#Criando uma sessão Sparkimport pyspark 
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
#Importando Pandas
import pandas as pd

In [3]:
#Criando um df Pandas e utilizando no Spark
pandas_df = pd.DataFrame({ 
    'nome': ['Paulo', 'Maria', 'Rosa', 'Joaquim'],
    'idade': [13, 14, 13, 15],
    'disciplina': ['Portugues', 'Matemática', 'Matemática', 'Matemática'],
    'nota_1': [10, 7, 8, 3],
    'nota_2': [10, 10, 6, 8],
    'nota_3': [9, 6, 10, 7],
    'nota_4': [8, 9, 6, 10]
})
df = spark.createDataFrame(pandas_df)
df.show()

+-------+-----+----------+------+------+------+------+
|   nome|idade|disciplina|nota_1|nota_2|nota_3|nota_4|
+-------+-----+----------+------+------+------+------+
|  Paulo|   13| Portugues|    10|    10|     9|     8|
|  Maria|   14|Matemática|     7|    10|     6|     9|
|   Rosa|   13|Matemática|     8|     6|    10|     6|
|Joaquim|   15|Matemática|     3|     8|     7|    10|
+-------+-----+----------+------+------+------+------+

In [4]:
#Agrupando dados por idade
df.groupby('idade').count().show()

+-----+-----+
|idade|count|
+-----+-----+
|   13|    2|
|   14|    1|
|   15|    1|
+-----+-----+

In [5]:
#Agrupando média por disciplina
df.groupby('disciplina').avg().show()

+----------+----------+-----------+-----------+-----------------+-----------------+
|disciplina|avg(idade)|avg(nota_1)|avg(nota_2)|      avg(nota_3)|      avg(nota_4)|
+----------+----------+-----------+-----------+-----------------+-----------------+
| Portugues|      13.0|       10.0|       10.0|              9.0|              8.0|
|Matemática|      14.0|        6.0|        8.0|7.666666666666667|8.333333333333334|
+----------+----------+-----------+-----------+-----------------+-----------------+

In [6]:
# Adiciocionando nova coluna média null ao df 
from pyspark.sql.functions import lit # Importando lit
df = df.withColumn("media", lit(None))
df.show()

+-------+-----+----------+------+------+------+------+-----+
|   nome|idade|disciplina|nota_1|nota_2|nota_3|nota_4|media|
+-------+-----+----------+------+------+------+------+-----+
|  Paulo|   13| Portugues|    10|    10|     9|     8| null|
|  Maria|   14|Matemática|     7|    10|     6|     9| null|
|   Rosa|   13|Matemática|     8|     6|    10|     6| null|
|Joaquim|   15|Matemática|     3|     8|     7|    10| null|
+-------+-----+----------+------+------+------+------+-----+

In [7]:
#selecionando a coluna de um df, propositalmente escolhida a coluna com valores null
df.select(df.media).show()

+-----+
|media|
+-----+
| null|
| null|
| null|
| null|
+-----+

In [18]:
#Calculando a média de forma simples e adicionando os resultados a coluna que estava com valor null
media = (df['nota_1'] + df['nota_2'] + df['nota_3']  + df['nota_4'])/4  
df = df.withColumn('media', lit(media))
df.show()

+-------+-----+----------+------+------+------+------+-----+
|   nome|idade|disciplina|nota_1|nota_2|nota_3|nota_4|media|
+-------+-----+----------+------+------+------+------+-----+
|  Paulo|   13| Portugues|    10|    10|     9|     8| 9.25|
|  Maria|   14|Matemática|     7|    10|     6|     9|  8.0|
|   Rosa|   13|Matemática|     8|     6|    10|     6|  7.5|
|Joaquim|   15|Matemática|     3|     8|     7|    10|  7.0|
+-------+-----+----------+------+------+------+------+-----+

In [37]:
#Criando uma tabela temporária e fazendo uma consulta SQL
df.createOrReplaceTempView("nomeA")
spark.sql("SELECT count(*) FROM nomeA").show() #contando os registros na Tabela Temporária

+--------+
|count(1)|
+--------+
|       4|
+--------+